In [1]:
import pytest
import unittest
import mock
import Project

Requirement already satisfied: prettytable in c:\programdata\anaconda3\lib\site-packages (0.7.2)
People Table
+-------+----------------------+--------+-------------+------+--------+------------+-------+-----------------+
|   ID  |         Name         | Gender |   Birthday  | Age  | Alive  |   Death    | Child |      Spouse     |
+-------+----------------------+--------+-------------+------+--------+------------+-------+-----------------+
|  @I1@ |  Willodean /Malagon/ |    F   |   1958-7-7  |  61  |  True  |     NA     |  @F2@ |       @F1@      |
|  @I2@ |   Stephan /Malagon/  |    M   |   1930-8-21 |  89  |  True  |     NA     |  @F3@ |       @F2@      |
|  @I3@ |  Laverna /Leonhardt/ |    F   |   1932-6-9  |  87  |  True  |     NA     |   NA  |       @F2@      |
|  @I4@ |     Ken /Malagon/    |    M   |   1962-2-6  |  57  |  True  |     NA     |  @F2@ |        NA       |
|  @I5@ |    Josh /Malagon/    |    M   |  1964-10-31 |  19  |  False |  1984-5-7  |  @F2@ |       @F4@      |
|  @I6@ |    Samuel /Venzon/   |    M   |   1958-12-6 |  60  |  True  |     NA     |   NA  |       @F1@      |
|  @I7@ |     Byron /Vezon/    |    M   |   1973-7-6  |  46  |  True  |     NA     |  @F1@ |       @F5@      |
|  @I8@ |    Cinda /Burgard/   |    F   |   1966-8-8  |  53  |  True  |     NA     |   NA  |  @F4@,@F6@,@F7@ |
|  @I9@ |   Jerrell /Finklea/  |    M   |   1965-9-8  |  54  |  True  |     NA     |   NA  |       @F6@      |
| @I10@ |    Ruthe /Malagon/   |    F   |   1977-9-8  |  42  |  True  |     NA     |  @F4@ |        NA       |
| @I11@ |     Darwin /Tung/    |    M   |   1987-9-6  |  32  |  True  |     NA     |  @F6@ |        NA       |
| @I12@ |    Shyla /Bertone/   |    F   |   2021-8-9  |  -2  |  True  |     NA     |   NA  |       @F5@      |
| @I13@ |     Beth /Venzon/    |    F   |   1975-7-8  |  44  |  True  |     NA     |  @F1@ |        NA       |
| @I14@ |    Jacob /Malagon/   |    M   |   1970-11-8 |  48  |  True  |     NA     |  @F2@ |       @F8@      |
| @I15@ |  Jaqueline /Kindel/  |    F   |   1969-9-8  |  50  |  True  |     NA     |   NA  |       @F8@      |
| @I16@ |   Johnny /Malagon/   |    M   |   1901-7-14 |  118 |  True  |     NA     |   NA  |       @F3@      |
| @I17@ |     Lura /Lomas/     |    F   |   1900-8-30 |  119 |  True  |     NA     |   NA  |       @F3@      |
| @I18@ |    Tesha /Malagon/   |    F   |   1819-7-8  |  200 |  False |  2019-8-2  |  @F3@ |        NA       |
| @I19@ |   Wilber /Iglesias/  |    M   |   1988-8-17 |  31  |  True  |     NA     |  @F6@ |        NA       |
| @I20@ |   Lucile /Malagon/   |    F   |   1931-9-9  |  88  |  True  |     NA     |  @F3@ |        NA       |
| @I21@ |   Regena /Malagon/   |    F   |   1820-10-8 |  198 |  True  |     NA     |  @F3@ |        NA       |
| @I22@ |     Tom /Malagon/    |    M   |   1923-5-8  |  96  |  True  |     NA     |  @F3@ |       @F9@      |
| @I23@ |   Vonnie /Malagon/   |    M   |   1936-3-10 |   1  |  False |  1937-7-6  |  @F3@ |        NA       |
| @I24@ |    Shena /Malagon/   |    F   |   1937-11-6 |  81  |  True  |     NA     |  @F3@ |        NA       |
| @I25@ |   Hailey /Malagon/   |    F   |   1938-10-8 |   0  |  False |  1939-9-18 |  @F3@ |        NA       |
| @I26@ |   Milford /Malagon/  |    M   |   1939-11-8 |  79  |  True  |     NA     |  @F3@ |        NA       |
| @I27@ |   Rashida /Malagon/  |    F   |   1940-12-7 |  78  |  True  |     NA     |  @F3@ |        NA       |
| @I28@ |   Deeann /Malagon/   |    F   |  1941-10-23 |  77  |  True  |     NA     |  @F3@ |        NA       |
| @I29@ |    Dario /Malagon/   |    M   |  1942-12-14 |  76  |  True  |     NA     |  @F3@ |        NA       |
| @I30@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |        NA       |
| @I31@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F3@ |        NA       |
| @I32@ |    Chet /Malagon/    |    M   |   1943-8-18 |  76  |  True  |     NA     |  @F3@ |        NA       |
| @I33@ |    Loyd /Malagon/    |    M   |   1965-8-9  |  54  |  True  |     NA     |  @F3@ |        NA       |
| @I34@ |    Kitty /Malagon/   |    F   |   1925-6-5  |  94  |  True  |     NA     |   NA  |       @F9@      |
| @I35@ |    Sock /Malagon/    |    F   |  1955-10-17 |  63  |  True  |     NA     |  @F9@ |        NA       |
+-------+----------------------+--------+-------------+------+--------+------------+-------+-----------------+
Families Table
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
|  ID  |  Married   | Divorced | Husband ID |    Husband Name    | Wife ID |      Wife Name       |                                             Children                                            |
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
| @F1@ |  1970-7-7  |    NA    |    @I6@    |   Samuel /Venzon/  |   @I1@  |  Willodean /Malagon/ |                                            @I7@,@I13@                                           |
| @F2@ |  1947-9-17 |    NA    |    @I2@    |  Stephan /Malagon/ |   @I3@  |  Laverna /Leonhardt/ |                                       @I1@,@I4@,@I5@,@I14@                                      |
| @F3@ |  1925-4-28 |    NA    |    @I16@   |  Johnny /Malagon/  |   @I17@ |     Lura /Lomas/     |  @I2@,@I18@,@I20@,@I21@,@I22@,@I23@,@I24@,@I25@,@I26@,@I27@,@I28@,@I29@,@I30@,@I31@,@I32@,@I33@ |
| @F4@ |  1978-9-2  |    NA    |    @I5@    |   Josh /Malagon/   |   @I8@  |    Cinda /Burgard/   |                                               @I10@                                             |
| @F6@ |  1985-4-5  |    NA    |    @I9@    |  Jerrell /Finklea/ |   @I8@  |    Cinda /Burgard/   |                                            @I11@,@I19@                                          |
| @F7@ |     NA     |    NA    |     NA     |         NA         |   @I8@  |    Cinda /Burgard/   |                                                NA                                               |
| @F5@ |     NA     |    NA    |    @I7@    |    Byron /Vezon/   |   @I12@ |    Shyla /Bertone/   |                                                NA                                               |
| @F8@ |  1968-6-4  |    NA    |    @I14@   |   Jacob /Malagon/  |   @I15@ |  Jaqueline /Kindel/  |                                                NA                                               |
| @F9@ |  1945-8-5  |    NA    |    @I22@   |    Tom /Malagon/   |   @I34@ |    Kitty /Malagon/   |                                               @I35@                                             |
+------+------------+----------+------------+--------------------+---------+----------------------+-------------------------------------------------------------------------------------------------+
-----anomaly messages-----
ANOMALY: INDIVIDUAL: US23: @I32@: @I30@: Individuals have the same name Chet /Malagon/ and birth date 1943-8-18
ANOMALY: INDIVIDUAL: US23: @I35@: @I31@: Individuals have the same name Sock /Malagon/ and birth date 1955-10-17
ANOMALY: INDIVIDUAL: US25: @I32@: @I30@: Individuals share the same first name Chet /Malagon/ and birth date 1943-8-18 from family @F3@

In [2]:
def test_unique_name_and_birth_error():
    individuals={'@I31@': {'INDI': '@I31@',
      'NAME': 'Sock /Malagon/',
      'SEX': 'F',
      'BIRT': '1955-10-17',
      'INDI_CHILD': ['@F3@'],
      'SPOUSE': 'NA',
      'DEAT': 'NA',
      'AGE': '63',
      'ALIVE': True},
     '@I35@': {'INDI': '@I35@',
      'NAME': 'Sock /Malagon/',
      'SEX': 'F',
      'BIRT': '1955-10-17',
      'INDI_CHILD': ['@F9@'],
      'SPOUSE': 'NA',
      'DEAT': 'NA',
      'AGE': '63',
      'ALIVE': True}}
        

    Project.individuals = individuals
    Project.anomaly_array = []
    
    Project.unique_name_and_birth()

    return Project.anomaly_array==['ANOMALY: INDIVIDUAL: US23: @I35@: @I31@: Individuals have the same name Sock /Malagon/ and birth date 1955-10-17']

In [3]:
def test_unique_name_and_birth_pass():
    individuals={'@I3@': {'INDI': '@I3@',
      'NAME': 'Dora /Colon/',
      'SEX': 'F',
      'BIRT': '1951-4-5',
      'INDI_CHILD': ['@F1@'],
      'SPOUSE': ['@F3@', '@F4@'],
      'DEAT': 'NA',
      'AGE': '68',
      'ALIVE': True},
     '@I4@': {'INDI': '@I4@',
      'NAME': 'Rurra /Colon/',
      'SEX': 'F',
      'BIRT': '1952-9-8',
      'INDI_CHILD': ['@F1@'],
      'SPOUSE': ['@F5@'],
      'DEAT': 'NA',
      'AGE': '66',
      'ALIVE': True}}
    
    Project.individuals = individuals
    Project.anomaly_array = [] 
    Project.unique_name_and_birth()
    
    return len(Project.anomaly_array)==0

In [4]:
def test_unique_family_name_and_birth_error():
    family_dic = {'@F1@': {'FAM': '@F1@',
  'HUSB_NAME': 'Samuel /Venzon/',
  'HUSB': '@I6@',
  'WIFE_NAME': 'Willodean /Malagon/',
  'WIFE': '@I1@',
  'FAM_CHILD': ['@I7@', '@I13@'],
  'CHIL': '@I13@',
  'MARR': '1970-7-7',
  'DIV': 'NA',
  'children_objects': [{'INDI': '@I7@',
    'NAME': 'Beth /Venzon/',
    'SEX': 'M',
    'BIRT': '1973-7-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': ['@F5@'],
    'DEAT': 'NA',
    'AGE': '46',
    'ALIVE': True},
   {'INDI': '@I13@',
    'NAME': 'Beth /Venzon/',
    'SEX': 'F',
    'BIRT': '1973-7-8',
    'INDI_CHILD': ['@F1@'],
    'SPOUSE': 'NA',
    'DEAT': 'NA',
    'AGE': '44',
    'ALIVE': True}]}}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.unique_family_name_and_birth()

    return Project.anomaly_array==['ANOMALY: INDIVIDUAL: US25: @I13@: @I7@: Individuals share the same first name Beth /Venzon/ and birth date 1973-7-8 from family @F1@']

In [5]:
def test_unique_family_name_and_birth_pass():
    family_dic =  {'children_objects': [{'INDI': '@I30@',
        'NAME': 'Chet /Malagon/',
        'SEX': 'M',
        'BIRT': '1943-8-18',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '76',
        'ALIVE': True},
       {'INDI': '@I31@',
        'NAME': 'Sock /Malagon/',
        'SEX': 'F',
        'BIRT': '1955-10-17',
        'INDI_CHILD': ['@F3@'],
        'SPOUSE': 'NA',
        'DEAT': 'NA',
        'AGE': '63',
        'ALIVE': True}]}
    
    Project.family_dic = family_dic
    Project.anomaly_array = []
    Project.unique_family_name_and_birth()

    return len(Project.anomaly_array) == 0

In [6]:
import unittest

class TestStringMethods(unittest.TestCase):
    
    def test_unique_name_and_birth_pass(self):
        self.assertTrue(test_unique_name_and_birth_pass());
    def test_unique_name_and_birth_error(self):
        self.assertTrue(test_unique_name_and_birth_error());
    def test_unique_family_name_and_birth_pass(self):
        self.assertTrue(test_unique_family_name_and_birth_pass());
    def test_unique_family_name_and_birth_error(self):
        self.assertTrue(test_unique_family_name_and_birth_error());

        
suite = unittest.TestLoader().loadTestsFromTestCase(TestStringMethods)
unittest.TextTestRunner(verbosity=2).run(suite)

test_unique_family_name_and_birth_error (__main__.TestStringMethods) ... ok
test_unique_family_name_and_birth_pass (__main__.TestStringMethods) ... ok
test_unique_name_and_birth_error (__main__.TestStringMethods) ... ok
test_unique_name_and_birth_pass (__main__.TestStringMethods) ... ok

----------------------------------------------------------------------
Ran 4 tests in 0.016s

OK